@media (max-width: 106em) {
    .greeting {
        width: 60%;
    }

    .main_nav-list {
        gap: 2.2rem;
    }
}

@media (max-width: 98em) {
    .greeting--text {
        font-size: 4.4rem;
    }

    .greeting--name {
        font-size: 8.8rem;
    }

    .greeting--former,
    .greeting--current,
    .greeting--future {
        font-size: 2.4rem;
    }

    .fixed-icons {
        right: 5%;
    }

    .header {
        grid-template-columns: 1fr 2fr;
    }

    /* move the available notification to the left (next to logo) */
    .available-responsive {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .available-main {
        /* opacity: 0;
        visibility: hidden;
        pointer-events: none; */
        display: none;
    }

    /* make images in the about section smaller */
    .img-torus {
        height: 14rem;
    }

    .img-code {
        height: 20rem;
    }

    .about--img-torus {
        left: 25%;
    }

    .about--img-code {
        top: 60%;
        left: 58%;
    }
}

/* respond to smaller desktop devices */
@media (max-width: 85em) {
    .container {
        max-width: 115rem;
    }

    .greeting {
        width: 70%;
    }

    .skills-container {
        column-gap: 5.6rem;
    }

    .projects--featured {
        flex-direction: column;
    }

    .projects--other {
        flex-direction: column;
        gap: 3.6rem;
    }

    .project--other-item {
        width: 30rem;
    }
}

/* respond to landscape tablet */
@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .link-icon:link,
    .link-icon:visited {
        font-size: 3.2rem;
    }

    .link-icon .bx {
        font-size: 3.2rem;
    }

    .fixed-icons {
        gap: 2.4rem;
    }
}

@media (max-width: 68em) {
    /* make images in the about section smaller */
    .img-torus {
        height: 12rem;
    }

    .img-code {
        height: 16rem;
    }

    .about--img-torus {
        left: 23%;
        top: 25%;
    }

    .about--img-code {
        top: 52%;
        left: 55%;
    }

    .skills-container {
        gap: 4rem;
    }

    .contact-text-head {
        font-size: 2.8rem;
    }

    .experience-container {
        gap: 4.8rem;
    }

    .experience-container-item {
        column-gap: 4.8rem;
    }

    .fixed-icons {
        right: 4%;
    }

    .contact-container {
        column-gap: 4.8rem;
    }

    .project--other-item {
        width: 28rem;
    }
}

@media (max-width: 61em) {
    .container {
        padding: 10rem 12rem;
    }
    .project-item {
        column-gap: 3.6rem;
        row-gap: 3.6rem;
    }
    .project-img {
        width: 54rem;
    }

    .project-name {
        font-size: 2.2rem;
    }

    .project-name--other {
        font-size: 2.2rem;
    }

    .project-description {
        order: 3;
        grid-column: 1 / -1;
    }

    .tags--featured {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .projects--other-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 3.2rem;
    }

    .project--other-item {
        width: 40rem;
    }

    .project-link--other {
        display: flex;
        justify-content: center;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .about--img {
        height: 24rem;
    }

    .img-torus {
        height: 12rem;
    }

    .img-code {
        height: 16rem;
    }

    .about--img-torus {
        left: 40%;
        top: 40%;
    }

    .about--img-code {
        top: 65%;
        left: 63%;
    }

    .experience-container-item {
        grid-template-columns: 25fr 75fr;
    }
}

@media (max-width: 57em) {
    .project-img {
        width: 50rem;
    }

    .project--other-item {
        width: 36rem;
    }

    .skills-container {
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
        column-gap: 2.4rem;
        row-gap: 4.8rem;
    }

    .skill-container {
        display: flex;
        flex-direction: column;
        gap: 2.2rem;
    }

    .skill-header {
        gap: 1.4rem;
    }

    .skills-list {
        gap: 1.4rem;
    }
}

/* from this point on, change nav list to menu icon */
@media (max-width: 54em) {
    .project-img {
        width: 44rem;
    }

    .project--other-item {
        width: 34rem;
    }

    .btns-mobile {
        display: flex;
        justify-content: flex-end;
        z-index: 5;
    }

    .main_nav {
        background-color: rgba(241, 241, 241, 1);
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* hide this element */
        transform: translateX(223%);
        transition: all 400ms ease-in;
        padding-right: 0;
        touch-action: none;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .main_nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(123%);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main_nav-list {
        flex-direction: column;
        gap: 5.2rem;
    }

    .main_nav-link:link,
    .main_nav-link:visited {
        font-size: 1.8rem;
    }

    .header {
        grid-template-columns: repeat(3, 1fr);
    }

    /* move the available notification to the left (next to logo) */
    .available-responsive {
        display: none;
    }

    .available-main {
        display: flex;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        gap: 5.6rem;
    }

    .contact-form {
        order: 2;
    }

    .contact-alt {
        order: 1;
        gap: 1.8rem;
    }

    .header--cta {
        margin-bottom: 3.6rem;
    }

    .about--img-torus {
        left: 35%;
        top: 40%;
    }

    .about--img-code {
        top: 65%;
        left: 60%;
    }

    /* change the style of the fixed links at the bottom-right corner */
    .fixed-icons {
        right: 2.4rem;
        gap: 2.4rem;
    }
    .vertical-line {
        height: 0.8rem;
        background-color: transparent;
    }

    .link-icon:link,
    .link-icon:visited {
        font-size: 3.2rem;
        height: 6.4rem;
        width: 6.4rem;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .logo-github {
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
    }

    .logo-linkedin {
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
    }

    .link-icon .bx {
        font-size: 3.2rem;
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
    }
}

@media (max-width: 50em) {
    .container {
        padding: 8.8rem 8.8rem;
    }
    .project-container {
        gap: 1.8rem;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }

    .project-description {
        order: 3;
        gap: 1.4rem;
    }

    .tags--featured {
        order: 2;
        /* margin-bottom: 1.2rem; */
        display: block;
    }

    .tag-group {
        display: inline;
    }

    .project-img {
        width: 100%;
    }

    .project--other-item {
        width: 30rem;
    }

    .experience-container {
        gap: 3.6rem;
    }

    .experience-container-item {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

    .education,
    .research {
        margin-left: 8.8rem;
    }
}

@media (max-width: 45em) {
    .container {
        padding: 7.6rem 0;
        width: 80%;
    }

    .greeting--text {
        font-size: 3.6rem;
        margin-bottom: 0.8rem;
    }

    .greeting--name {
        font-size: 6.4rem;
    }

    .greeting--former,
    .greeting--current,
    .greeting--future {
        font-size: 2.2rem;
    }

    .greeting--former,
    .greeting--current {
        margin-bottom: 0.6rem;
    }

    .projects--other-container {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

    .project--other-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        padding: 1.8rem;
    }

    .project-item {
        padding: 1.8rem;
    }

    .project--other-item .tags {
        order: 2;
    }

    .project--other-item .project-title {
        order: 3;
    }

    .project-name--other {
        padding: 0;
    }

    .project-content--other {
        order: 4;
    }

    .about--text {
        gap: 1.6rem;
    }

    .about--text p {
        font-size: 1.6rem;
        line-height: 1.8;
    }

    .experience-container-item {
        gap: 1.4rem;
    }

    .education,
    .research {
        gap: 1.2rem;
        margin-left: 5rem;
    }

    .skill-container {
        gap: 1.6rem;
    }

    .visa-requirement {
        padding: 0 4.8rem;
    }

    .about-content {
        gap: 1.4rem;
    }

    .img-torus {
        height: 8rem;
    }

    .img-code {
        height: 12rem;
    }
}

@media (max-width: 34em) {
    .container {
        padding: 6.4rem 0;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
    }

    .skill-container {
        display: grid;
        grid-template-columns: 4fr 6fr;
    }

    .skill-header {
        flex-direction: row;
        align-items: flex-start;
        gap: 0.8rem;
    }

    .skill-header .bx {
        font-size: 2rem;
    }

    .subheader--skills {
        font-size: 1.6rem;
    }

    .skills-list {
        gap: 0.8rem;
    }

    .project-content,
    .project-content--other,
    .contact-text-body,
    .about--text p {
        line-height: 1.4;
    }

    .cta-form {
        display: flex;
        flex-direction: column;
    }

    .contact-text-body {
        font-size: 1.6rem;
    }

    .time {
        text-align: right;
    }

    .education,
    .research {
        gap: 0.6rem;
        margin-left: 0;
    }

    .experience-container {
        gap: 2.4rem;
    }

    .experience-container-item {
        gap: 0.8rem;
    }

    .greeting-text {
        font-size: 2.8rem;
        margin: 0;
    }

    .greeting--name {
        font-size: 4.8rem;
    }

    .link-icon:link,
    .link-icon:visited {
        font-size: 2.4rem;
        height: 4.8rem;
        width: 4.8rem;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .logo-github {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
    }

    .logo-linkedin {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
    }

    .link-icon .bx {
        font-size: 2.4rem;
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
    }

    .icon-mobile-nav {
        height: 3.6rem;
        width: 3.6rem;
    }

    .main_nav {
        width: 70%;
        transform: translateX(143%);
    }

    .nav-open .main_nav {
        transform: translateX(43%);
    }

    .img-torus {
        height: 6rem;
    }

    .img-code {
        height: 10rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .header--about,
    .header--experience,
    .header--skills,
    .header--projects,
    .header--cta {
        margin-bottom: 4rem;
    }
}
