@media (max-width: 99em) {
    .layout {
        grid-template-columns: 22rem auto;
    }

    .project-content {
        width: 90rem;
    }
}

@media (max-width: 77em) {
    html {
        font-size: 56.25%;
    }

    ul,
    ol {
        font-size: 1.6rem;
    }

    .nav-links {
        gap: 2.2rem;
    }

    .project-content {
        width: 80rem;
    }

    .header-main {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        height: auto;
    }

    .header-img-container {
        width: 100%;
        padding-top: 56.25%;
    }

    .header-secondary {
        flex-direction: row;
    }

    .tags {
        gap: 1.8rem;
    }

    .buttons {
        flex-direction: column;
    }

    .back-to-top:link {
        bottom: 3rem;
        right: 3rem;
    }
}

@media (max-width: 65em) {
    .layout {
        grid-template-columns: 18rem auto;
    }
    .project-content {
        width: 80%;
    }
}

@media (max-width: 54em) {
    .layout {
        padding: 0;
    }

    .header-secondary {
        flex-direction: column;
        gap: 2.4rem;
    }

    .buttons {
        flex-direction: row;
    }

    .layout {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .navigation {
        z-index: 5;
        background-color: rgba(241, 241, 241, 1);
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        padding-left: 10%;
        transform: translateX(200%);
        transition: all 400ms ease-in;
        touch-action: none;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .navigation {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(100%);
    }

    .btn-mobile {
        display: flex;
        justify-content: flex-end;
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .img--half {
        width: 100%;
    }
}

@media (max-width: 34em) {
    .header-img-text {
        font-size: 2.4rem;
    }

    .navigation {
        width: 70%;
        padding-left: 20%;
        transform: translateX(143%);
    }

    .nav-open .navigation {
        transform: translateX(43%);
    }

    section p {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-bottom: 1.6rem;
    }

    li {
        line-height: 1.6;
    }

    .request-source {
        width: 30rem;
        padding: 2.4rem;
    }

    .request-source h4 {
        font-size: 1.8rem;
    }

    .request-source p {
        font-size: 1.4rem;
        line-height: 1.4;
    }
}

@media (max-width: 28em) {
    .project-content {
        width: 75%;
    }

    .navigation {
        padding-left: 10%;
    }

    .back-to-top:link {
        bottom: 1.8rem;
        right: 1.8rem;
    }
}
